div.title{
    width: 1000px;
    height: 40px;
    background-color: aquamarine;
    margin-bottom: 20px;
}
div.menu{
     display: inline-block;
    font-size: 0;
    width: 1000px;
    height: 320px;
    vertical-align : top;
      margin-bottom:20px;
}
div.menu2{
        display: inline-block;
    vertical-align : top;
     width: 250px;
     height: 320px;
        margin-right:50px;
    background-color: gray;
    
}
div.menu3{
    font-size: 19px;
    width: 250px;
    height: 100px;
    color: black;
    text-align: left;
     margin-bottom: 10px;
    background-color: darkred;
    
}
div.menu4{
     font-size: 10px;
      width: 700px;
    height: 300px;
 
     color: black;
    text-align: center;
    background-color: black;
}
div.menu5{
    font-size: 10px;
      width: 700px;
    height: 20px;
 
     color: black;
    text-align: left;
    background-color: blue;
}
div.footer{
    width: 1000px;
    height: 40px;
    background-color: orange;
    font-size: 20px;
    color: black;
    text-align: right;   
}
div.menu{
 font-size:0;    
}
